$primary-color: hsl(245, 75%, 52%);
$secondary-color: hsl(225, 100%, 94%);
$tertiary-color: hsl(225, 100%, 98%);
$quaternary-color: hsl(224, 23%, 55%);
$quinary-color: hsl(223, 47%, 23%);

$hover-color: hsla(245, 75%, 52%, 0.7);

$main-background-color: hsl(225, 100%, 94%);

$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);

$font: "Red Hat Display", sans-serif;
$font-size: 1rem;

$border-radius-big: 1.5rem;
$border-radius-small: 0.75rem;
